<a href="https://github.com/{{owner}}/{{name}}">
    <h2><i class="fa-brands fa-github"></i> {{name}}</h2>
</a>

{% for pr in pull_requests %}
<ul>
    <li>
        {% match pr.author %}
            {% when Some with (author) %}
                <img src="{{author.avatar_url}}" class="inline-img">
            {% when None %}
        {% endmatch %}

        <a href="{{pr.permalink}}">
            <i class="fa-solid fa-code-pull-request"></i>
            {{pr.title}}
        </a>

        <a href="{{pr.checks_url}}">
            {{pr.get_check_status_as_icon()|safe}}
        </a>
    </li>
</ul>
{% endfor %}