body, html {
    height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
}

.h100 {
    height: 100%;
}

.column {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

table{
    border-collapse: collapse;
}

.monospace{
    font-family: monospace, monospace;
}

th, td {
    text-align: center;
    padding: 5px 20px;
}

th + th, td + td {
    border-left: 1px solid;
}

.grid {
    position: relative;
}

.title {
    font-size: 6em;
}

.flex-grow-1 {
    flex-grow: 1;
}

.container {
    display: flex;
}

.flex-gap {
    gap: 1rem;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.centre-content {
    justify-content: center;
}

.centre-items {
    align-items: center;
}

.profile {
    font-size: 2em;
}

.profile > h3 {
    margin: 40px;
}

.item {
    display: block;
    position: absolute;
    /*width: 100px;*/
    /*height: 100px;*/
    margin: 5px;
    z-index: 1;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.yellow {
    color: #baba16;
}

#toolbar {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
}

#toolbar * i {
    font-size: 2em;
    margin-left: 5px;
    margin-right: 5px;
}

#toolbar:empty {
    display: none;
}

a:link {
    color: #0f91e1;
}

a:visited {
    color: #095d91;
}

.box {
    background: #262931;
    color: #c2c2c2;
    padding: 5px;

    border-radius: 15px 0 0 0;
    border-top: 1.5px solid gray;
    border-left: 1.5px solid gray;
}

.fancy-box {
    background: #262931;
    color: #c2c2c2;
    padding: 10px;
    box-shadow: 2px 2px 10px black;

    border: 10px solid;
    border-image-slice: 1;
    border-width: 1.5px;
    border-image-source: conic-gradient(
            from 90deg,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red,
            violet
    );
}

.widget-line > td > a > i {
    margin: 0 5px;
    font-size: 1.2em;
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.background {
    background-image: url("/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.small-img{
    width: 3em;
    height: auto;
}

.inline-img {
    width: 1.3em;
    height: auto;
}

.favicon {
    width: 1em;
    height: auto;
}