{% extends "layout.html" %}

{% block header %}
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<div class="vertical-container centre-items">

<h2>Edit profile {{profile_name}}</h2>

<div class="fancy-box column">
    <form action="/profile/{{profile_id}}/edit" method="POST">
        <div>
            <label for="name">Profile name</label>
            <input type="text" id="name" name="name" value="{{profile_name}}">
        </div>

        <div>
            <label for="tags">Tags:</label>
            <input type="text" name="tags" id="tags" value="{{current_tags|join(",")}}">
        </div>

        <button type="submit">Save</button>
    </form>
</div>

</div>

{% endblock %}

<script>
</script>
