{% extends "layout.html" %}

{% block body %}
<div class="vertical-container h100">
    <div class="container centre-content">
        <h2 class="title">Select a profile</h2>
    </div>

    <div class="container centre-content">
    {% for profile in profiles %}
        <a href="/profile/{{profile.id}}">
            <div class="fancy-box profile">
                <h3>{{profile.name}}</h3>
            </div>
        </a>
    {% endfor %}
    </div>

    <div class="container flex-grow-1"></div>

    <div class="container centre-content">
        <a href="/new_profile">
            <div class="fancy-box">
                <h4>New Profile</h4>
            </div>
        </a>
    </div>

    <div class="container flex-grow-1"></div>
</div>

{% endblock %}