<!DOCTYPE html>

<html>
<head>
    {% block title %}<title>Homepage</title>{% endblock %}

    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/script.js"></script>

    {% block header %}
    {% endblock %}
</head>

<body class="background">

{% block body %}
{% endblock %}

<div id="toolbar" class="box container centre-items flex-gap">
    <a href="/"><i class="fa fa-home"></i></a>
    {%- block toolbar -%}{%- endblock -%}
</div>

</body>
</html>
