{% extends "layout.html" %}

{% block title %}<title>Homepage - {{profile_name}}</title>{% endblock %}

{% block header %}
<script src="https://unpkg.com/diffhtml/dist/diffhtml.js"></script>
{% endblock %}

{% block body %}
<div id="app" class="grid"></div>
{% endblock %}

{% block toolbar %}
    <a href="/profile/{{profile_id}}/widgets"><i class="fa-solid fa-list"></i></a>
    <a href="/profile/{{profile_id}}/edit"><i class="fa-solid fa-pencil"></i></a>
{% endblock %}
