{% extends "layout.html" %}

{% block body %}

<div class="container centre-content">
    <h1>New Profile</h1>
</div>

<div class="container centre-content">
    <form action="/new_profile", method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

       <button type="submit">Create Profile</button>
    </form>
</div>

{% endblock %}