{% extends "layout.html" %}
{% block header %}
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<div class="vertical-container centre-items column flex-gap">
    <h2>Edit widget</h2>

    <div class="fancy-box">
        <form action="/widgets/{{widget.id}}" method="POST">
            <div>
                <label for="command">Command</label>
                <input type="text" name="command" id="command" value="{{widget.command}}">
            </div>

            <div>
                <label for="args">Args</label>
                <input type="text" name="args" id="args" value="{{widget.args.as_deref().unwrap_or("")}}">
            </div>

            <div>
                <label for="tags">Tags</label>
                <input type="text" name="tags" id="tags" value="{{tags|join(",")}}">
            </div>

            <h3>Current State</h3>
            {% for (key, value) in state %}
                {{key}}: {{value}}<br>
            {% endfor %}

            <button type="submit">Save</button>
        </form>
    </div>
</div>

{% endblock %}