{% extends "layout.html" %}

{% block header %}
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<div class="vertical-container centre-items column flex-gap">
    <h1>Widgets</h1>

    <h2>Current profile tags</h2>

    <ul>
        {% for tag in profile_tags %}
            <li>{{ tag.1 }}</li>
        {% endfor %}
    </ul>

    <div class="fancy-box">
        <h2>Add widget</h2>
        <p><small>This adds the widget to the all widgets list. Use the add to profile button below to
            add it to this profile afterwards</small></p>

        <form action="/widgets" method="POST">
            <label for="command">Command</label>
            <input type="text" name="command" id="command">

            <label for="args">Args</label>
            <input type="text" name="args" id="args">

            <label for="tags">Tags</label>
            <input type="text" name="tags" id="tags">

            <button type="submit">Add Widget</button>
        </form>
    </div>

    <div class="fancy-box">
        <h2>All Widgets</h2>
        <table>
            <tr>
                <th>Command</th>
                <th>Args</th>
                <th></th>
            </tr>

            {% for widget in widgets %}
            <tr class="widget-line">
                <td><span class="monospace">{{widget.command}}</span></td>
                <td>{{widget.args.as_deref().unwrap_or("")}}</td>
                <td>
                    <a href="/widgets/{{widget.id}}" method="delete" title="Delete"><i class="fa fa-trash"></i></a>
                    <a href="/widgets/{{widget.id}}" title="Inspect widget"><i class="fa fa-search"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

{% block toolbar %}
    <a href="/profile/{{profile_id}}"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}
